@charset "UTF-8";
.active {
  display: block; }

.hidden {
  display: none !important; }

.top-300-negative {
  top: -300px; }

.top-100-negative {
  top: -100px; }

.text-align-center {
  text-align: center; }

.overflow-hidden {
  overflow-y: hidden !important; }

.p-0 {
  padding: 0 !important; }

.mgt-1 {
  margin-top: 1rem; }

.text-align-right {
  text-align: right; }

.w-100 {
  width: 100% !important; }

@media only screen and (max-width: 37.5em) {
  .mb-4 {
    margin-bottom: 4rem; } }

.display-block {
  display: block !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.margin-prefix-nav-bottom {
  margin-right: -38.47px !important; }

.prefix-width-footer-max-width-141 {
  max-width: 141rem !important; }

@media only screen and (max-width: 37.5em) {
  .parallax-image-display-none {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .mobile-center-story {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; } }

.display-only-mobile {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .display-only-mobile {
      display: block; } }

.parallax-container {
  position: relative;
  height: 100%;
  max-width: 1980px;
  margin-inline: auto;
  z-index: -1; }

.svg-container-crab {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 10%;
  z-index: -1; }
  .svg-container-crab img {
    width: auto;
    height: auto;
    position: absolute;
    right: -5%; }
  @media only screen and (max-width: 100em) {
    .svg-container-crab {
      right: -5%; } }
  @media only screen and (max-width: 90em) {
    .svg-container-crab {
      right: -5%; } }

.svg-container-fish {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0rem;
  bottom: 0;
  z-index: -1; }
  .svg-container-fish img {
    position: absolute;
    width: auto;
    height: auto; }
  @media only screen and (max-width: 90em) {
    .svg-container-fish {
      left: -12%; } }

.svg-container-octopus {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 41rem;
  z-index: -1; }
  .svg-container-octopus img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1; }
  @media only screen and (max-width: 90em) {
    .svg-container-octopus {
      left: 20rem; } }

.svg-container-dec {
  width: 100%;
  height: 100%;
  left: 70%;
  position: absolute;
  z-index: -1; }
  .svg-container-dec img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1; }
  @media only screen and (max-width: 90em) {
    .svg-container-dec {
      left: 60%; } }

.svg-container-seaurchinsmall {
  width: 100%;
  height: auto;
  position: absolute;
  left: 5%;
  z-index: -1; }
  .svg-container-seaurchinsmall img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1; }
  @media only screen and (max-width: 90em) {
    .svg-container-seaurchinsmall {
      left: 0; } }

.svg-container-fishSteak {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-fishSteak img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    right: 0%; }
    @media only screen and (max-width: 90em) {
      .svg-container-fishSteak img {
        right: -10%; } }

.svg-container-flower {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-flower img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    left: 0%; }
    @media only screen and (max-width: 90em) {
      .svg-container-flower img {
        left: -10%; } }

.svg-container-shell {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-shell img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    left: 0%; }
    @media only screen and (max-width: 90em) {
      .svg-container-shell img {
        left: -2%; } }

.svg-container-something {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-something img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    right: 10%; }

.svg-container-smshell {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-smshell img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    right: 50%; }

.svg-container-bgseaurchinsmall {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; }
  .svg-container-bgseaurchinsmall img {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    right: 13%; }
    @media only screen and (max-width: 90em) {
      .svg-container-bgseaurchinsmall img {
        right: 0%; } }

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.fade-in {
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-align: center;
  font-size: .5rem;
  line-height: 15px;
  letter-spacing: 2px;
  backdrop-filter: blur(3px);
  background-size: cover;
  background-color: transparent;
  background-position-x: -2px;
  overflow: visible; }

.cursor-addclass {
  opacity: 1;
  transform: scale(2);
  animation: cursoreMove 3s infinite;
  color: rgba(255, 255, 255, 0.863); }

/* ----------------------------------------------
 * Generated by Animista on 2023-1-4 17:29:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-1-4 17:32:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.blur {
  filter: blur(40px); }

.blur-off {
  filter: blur(0px) !important; }

/* ----------------------------------------------
 * Generated by Animista on 2023-3-24 11:28:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2023-3-24 15:35:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-3-24 15:36:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: red;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

*:focus, *:active {
  outline: none;
  box-shadow: none;
  /* any other relevant styles */ }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 37.5em) {
    html {
      scroll-behavior: auto;
      overflow-x: hidden; } }

body {
  font-family: "Sniglet", Sniglet;
  position: relative;
  overflow: hidden; }

li {
  list-style: none; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: unset; }

h1 {
  font-size: 48px;
  font-family: "Rubik Dirt", Rubik Dirt;
  font-style: normal;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0.02em; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 24px;
      margin-top: 0;
      line-height: 28px; } }

h2 {
  font-size: 42px; }
  @media only screen and (max-width: 37.5em) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 24px; }
  @media only screen and (max-width: 37.5em) {
    h3 {
      font-size: 20px; } }

.events {
  padding-left: 5%;
  padding-right: 5%; }
  @media only screen and (max-width: 37.5em) {
    .events {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .events_container {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 9rem; }
    @media only screen and (max-width: 37.5em) {
      .events_container {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0; } }
    .events_container-text {
      display: flex;
      padding-left: 4rem;
      width: 50%;
      min-height: 500px; }
      @media only screen and (max-width: 37.5em) {
        .events_container-text {
          width: 100%;
          min-height: 100%;
          padding-left: 0; } }
      .events_container-text h2 {
        font-family: "Rubik Dirt", Rubik Dirt;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #000000;
        text-align: right;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .events_container-text h2 {
            text-align: center !important;
            margin-bottom: 1rem; } }
      .events_container-text-textbox {
        width: 100%;
        max-width: 416px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #666666;
        text-align: right !important;
        color: #666666;
        margin-bottom: 4rem; }
        @media only screen and (min-width: 90em) {
          .events_container-text-textbox {
            max-width: 500px; } }
        @media only screen and (max-width: 37.5em) {
          .events_container-text-textbox {
            font-size: 16px; } }
        @media only screen and (max-width: 37.5em) {
          .events_container-text-textbox {
            max-width: 100%;
            margin-bottom: 3.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: unset !important; } }
      .events_container-text .events_social {
        display: flex; }
        @media only screen and (max-width: 37.5em) {
          .events_container-text .events_social {
            width: 100%;
            flex-direction: column;
            align-items: center; } }
        .events_container-text .events_social-facebook {
          display: flex;
          margin-right: 4.3rem; }
          @media only screen and (max-width: 37.5em) {
            .events_container-text .events_social-facebook {
              width: 110px;
              margin-right: 0rem;
              margin-bottom: 2.1rem; } }
          .events_container-text .events_social-facebook img {
            margin-right: 1rem; }
          .events_container-text .events_social-facebook button {
            line-height: 29px;
            color: #000000;
            font-size: 24px; }
        .events_container-text .events_social-instagram {
          display: flex; }
          @media only screen and (max-width: 37.5em) {
            .events_container-text .events_social-instagram {
              width: 110px;
              margin-bottom: 6.5rem; } }
          .events_container-text .events_social-instagram img {
            margin-right: 1rem; }
          .events_container-text .events_social-instagram button {
            line-height: 29px;
            color: #000000;
            font-size: 24px; }
    .events_container-photo {
      width: 50%; }
      @media only screen and (max-width: 37.5em) {
        .events_container-photo {
          width: 100%;
          min-height: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 3rem; } }
      .events_container-photo-circle {
        width: 50rem;
        height: 50rem;
        border: 7px solid #000000;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white; }
        @media only screen and (max-width: 37.5em) {
          .events_container-photo-circle {
            width: 28rem;
            height: 28rem; } }
        .events_container-photo-circle img {
          object-fit: cover; }
          @media only screen and (max-width: 37.5em) {
            .events_container-photo-circle img {
              width: 24rem;
              height: 24rem; } }

.prefix-event {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .prefix-event {
      display: unset;
      justify-content: unset;
      align-items: unset;
      flex-direction: unset; } }

.header {
  padding-top: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding-top: 0rem; } }
  .header_container {
    position: relative;
    height: 454px;
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    display: flex;
    background: #FFFFFF;
    border-width: 3px 3px 7px 7px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
    z-index: 1; }
    .header_container .tripdad {
      width: 85px;
      height: 85px;
      position: absolute;
      top: 0;
      right: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .header_container .tripdad {
          right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .header_container {
        min-height: 806px;
        flex-direction: column-reverse;
        margin-bottom: 4rem; } }
    .header_container-text {
      width: 40%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 8.83rem;
      padding-left: 8rem; }
      @media only screen and (max-width: 90em) {
        .header_container-text {
          width: 43%; } }
      @media only screen and (max-width: 64.5em) {
        .header_container-text {
          width: 40%; } }
      @media only screen and (max-width: 37.5em) {
        .header_container-text {
          width: 100%;
          height: 50%;
          padding-top: 0;
          padding-left: 2.2rem;
          padding-right: 2.2rem; } }
      .header_container-text h1 {
        color: #000000;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .header_container-text h1 {
            margin-top: 3rem !important;
            margin-bottom: 1rem;
            line-height: 28px;
            text-align: center; } }
      .header_container-text-textbox {
        width: 388px;
        font-style: normal;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #666666;
        color: #666666;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 37.5em) {
          .header_container-text-textbox {
            font-size: 16px; } }
        @media only screen and (max-width: 37.5em) {
          .header_container-text-textbox {
            width: 100%;
            margin-bottom: 2rem; } }
      .header_container-text-buttons {
        display: flex; }
        @media only screen and (max-width: 37.5em) {
          .header_container-text-buttons {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center; } }
        .header_container-text-buttons button:not(:last-child) {
          margin-right: 5rem; }
          @media only screen and (max-width: 37.5em) {
            .header_container-text-buttons button:not(:last-child) {
              margin-right: 0;
              margin-bottom: 3rem; } }
    .header_container-photo {
      height: 100%; }
      @media only screen and (min-width: 37.5em) {
        .header_container-photo {
          width: 60%; } }
  @media only screen and (min-width: 37.5em) and (max-width: 90em) {
    .header_container-photo {
      width: 57%; } }
  @media only screen and (min-width: 37.5em) and (max-width: 80em) {
    .header_container-photo {
      width: 60%;
      min-width: 66rem; } }
      @media only screen and (max-width: 37.5em) {
        .header_container-photo .header-photo-desktopn {
          display: none; } }
      @media only screen and (max-width: 37.5em) {
        .header_container-photo {
          display: block;
          background-image: url(/assets/mobile/header_mobile.png);
          background-position: bottom;
          background-size: cover; } }
      .header_container-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
        @media only screen and (max-width: 37.5em) {
          .header_container-photo img {
            object-fit: cover; } }
      @media only screen and (max-width: 37.5em) {
        .header_container-photo {
          width: 100%;
          height: 70%; } }

.infoBox {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 9rem; }
  @media only screen and (max-width: 37.5em) {
    .infoBox {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .infoBox_container {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    height: 308px;
    background: #FFF4E5;
    border-width: 3px 3px 7px 7px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 14.8rem 5rem 14.8rem; }
    @media only screen and (max-width: 37.5em) {
      .infoBox_container {
        height: 100%;
        padding: 2rem; } }
    .infoBox_container h2 {
      text-align: center;
      margin-bottom: 1rem;
      font-family: "Rubik Dirt", Rubik Dirt;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #FF6B00; }
      @media only screen and (max-width: 37.5em) {
        .infoBox_container h2 {
          font-size: 20px; } }
    .infoBox_container-text {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #666666;
      max-width: 678px;
      text-align: center;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .infoBox_container-text {
          font-size: 16px; } }

.story {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 9rem;
  margin-bottom: 9rem;
  min-height: 500px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .story {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      padding-top: 0rem;
      margin-bottom: 0rem; } }
  .story_container {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    display: flex;
    padding-left: 3%;
    padding-right: 3%; }
    @media only screen and (max-width: 37.5em) {
      .story_container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0; } }
    .story_container-photo {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
      @media only screen and (max-width: 37.5em) {
        .story_container-photo {
          width: 100%;
          display: flex;
          justify-content: center; } }
      .story_container-photo-circle {
        width: 50rem;
        height: 50rem;
        background-color: white;
        border: 7px solid #000000;
        border-radius: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media only screen and (max-width: 37.5em) {
          .story_container-photo-circle {
            width: 280px;
            height: 280px;
            margin-bottom: 3rem; } }
        @media only screen and (max-width: 37.5em) {
          .story_container-photo-circle img {
            width: 240px;
            height: 240px; } }
    .story_container-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      min-height: 500px;
      padding-left: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .story_container-text {
          width: 100%;
          min-height: 100%;
          padding-left: 0rem; } }
      .story_container-text h2 {
        font-family: "Rubik Dirt", Rubik Dirt;
        font-style: normal;
        font-weight: 400;
        line-height: 57px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .story_container-text h2 {
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            margin-bottom: 1rem; } }
      .story_container-text-textbox {
        width: 100%;
        max-width: 416px;
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #666666;
        color: #666666;
        margin-bottom: 3rem; }
        @media only screen and (min-width: 90em) {
          .story_container-text-textbox {
            max-width: 500px; } }
        @media only screen and (max-width: 37.5em) {
          .story_container-text-textbox {
            font-size: 16px; } }
        @media only screen and (max-width: 37.5em) {
          .story_container-text-textbox {
            max-width: 100%;
            padding-right: 1rem;
            padding-left: 1rem; } }
        .story_container-text-textbox p:not(:last-child) {
          margin-bottom: 2rem; }

.services {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4.3rem; }
  @media only screen and (max-width: 37.5em) {
    .services {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .services-title {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    margin-bottom: 3.3rem; }
    @media only screen and (max-width: 37.5em) {
      .services-title {
        margin-bottom: 2.3rem; } }
    .services-title h2 {
      font-family: "Rubik Dirt", Rubik Dirt;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #000000; }
      @media only screen and (max-width: 37.5em) {
        .services-title h2 {
          font-size: 24px; } }
  .services_container {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .services_container {
        flex-direction: column; } }
    .services_container-box {
      width: 100%;
      min-height: 512px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-width: 3px 3px 7px 7px;
      border-style: solid;
      border-color: #000000; }
      .services_container-box:not(:last-child) {
        margin-right: 4.3rem; }
        @media only screen and (max-width: 80em) {
          .services_container-box:not(:last-child) {
            margin-right: 2%; } }
        @media only screen and (max-width: 37.5em) {
          .services_container-box:not(:last-child) {
            margin-right: 0;
            margin-bottom: 1.3rem; } }
      .services_container-box-header {
        width: 100%; }
        .services_container-box-header img {
          width: 100%;
          height: 100%; }
      .services_container-box-body {
        width: 100%;
        padding-left: 3.3rem;
        padding-right: 3.3rem;
        padding-bottom: 4rem; }
        .services_container-box-body h3 {
          margin-top: 2rem;
          font-family: "Rubik Dirt", Rubik Dirt;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.02em;
          color: #000000; }
          @media only screen and (max-width: 37.5em) {
            .services_container-box-body h3 {
              font-size: 20px; } }
        .services_container-box-body p {
          margin-top: 2rem;
          font-style: normal;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #666666;
          color: #666666; }
          @media only screen and (max-width: 37.5em) {
            .services_container-box-body p {
              font-size: 16px; } }

.opening {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 9rem; }
  @media only screen and (max-width: 37.5em) {
    .opening {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .opening_container {
    width: 100%;
    height: 454px;
    display: flex;
    width: 100%;
    max-width: 140rem;
    margin-inline: auto;
    background: #FFFFFF;
    border-width: 3px 3px 7px 7px;
    border-style: solid;
    border-color: #000000; }
    @media only screen and (max-width: 37.5em) {
      .opening_container {
        flex-direction: column;
        min-height: 843px; } }
    .opening_container-text {
      width: 40%;
      padding: 105px 50px 104px 80px; }
      @media only screen and (max-width: 90em) {
        .opening_container-text {
          width: 43%; } }
      @media only screen and (max-width: 64.5em) {
        .opening_container-text {
          width: 40%; } }
      @media only screen and (max-width: 37.5em) {
        .opening_container-text {
          width: 100%;
          height: 40%;
          padding: 0; } }
      .opening_container-text h2 {
        font-family: "Rubik Dirt", Rubik Dirt;
        font-style: normal;
        font-weight: 400;
        line-height: 57px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .opening_container-text h2 {
            text-align: center;
            margin-top: 2rem; } }
      .opening_container-text-box {
        width: 100%;
        max-width: 388px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #666666;
        color: #666666;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 37.5em) {
          .opening_container-text-box {
            font-size: 16px; } }
        @media only screen and (max-width: 37.5em) {
          .opening_container-text-box {
            max-width: 100%; } }
        .opening_container-text-box div {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          @media only screen and (max-width: 37.5em) {
            .opening_container-text-box div {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 2rem; }
              .opening_container-text-box div p {
                margin-bottom: .5rem; } }
      .opening_container-text-buttons {
        display: flex; }
        .opening_container-text-buttons button:not(:last-child) {
          margin-right: 5rem; }
          @media only screen and (max-width: 37.5em) {
            .opening_container-text-buttons button:not(:last-child) {
              margin-right: 0rem; }
              .opening_container-text-buttons button:not(:last-child):nth-child(1) {
                margin-bottom: 2rem; } }
        @media only screen and (max-width: 37.5em) {
          .opening_container-text-buttons {
            flex-direction: column;
            align-items: center; } }
    @media only screen and (min-width: 37.5em) {
      .opening_container-photo {
        width: 60%; } }
  @media only screen and (min-width: 37.5em) and (max-width: 90em) {
    .opening_container-photo {
      width: 57%; } }
  @media only screen and (min-width: 37.5em) and (max-width: 80em) {
    .opening_container-photo {
      width: 60%;
      min-width: 66rem; } }
    @media only screen and (max-width: 37.5em) {
      .opening_container-photo {
        width: 100%;
        height: 60%;
        background-image: url(/assets/mobile/mobile_map.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 105px; } }
    .opening_container-photo img {
      position: relative;
      z-index: 10011100;
      object-fit: cover;
      width: 100%;
      height: 100%; }
      @media only screen and (max-width: 37.5em) {
        .opening_container-photo img {
          display: none; } }

footer {
  background-color: #FFF4E5; }
  footer .footer-container {
    width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-left: 5%;
    padding-right: 5%; }
    @media only screen and (max-width: 37.5em) {
      footer .footer-container {
        height: 100%;
        min-height: 408px;
        padding-top: 5rem; } }
  footer .footer-container-bottom {
    min-height: 219px;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 4%;
    padding-left: 4%; }
    @media only screen and (max-width: 37.5em) {
      footer .footer-container-bottom {
        min-height: 361px !important;
        padding-top: 0rem !important; } }
    footer .footer-container-bottom .cookie-policy-mobile {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        footer .footer-container-bottom .cookie-policy-mobile {
          display: block;
          font-family: "Sniglet", Sniglet;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          margin-bottom: 4rem;
          color: #FFF4E5; } }
    footer .footer-container-bottom-textBox {
      width: 100%;
      max-width: 145rem;
      padding-right: 39px;
      padding-left: 39px;
      margin-bottom: 21.5px; }
      @media only screen and (max-width: 37.5em) {
        footer .footer-container-bottom-textBox {
          text-align: center;
          margin-bottom: 11.5px; } }
      footer .footer-container-bottom-textBox div {
        max-width: 426px; }
        @media only screen and (max-width: 37.5em) {
          footer .footer-container-bottom-textBox div {
            width: 100%;
            max-width: 240px;
            margin-inline: auto; } }
      @media only screen and (max-width: 1050px) {
        footer .footer-container-bottom-textBox {
          padding-right: 3%;
          padding-left: 3%; } }
      footer .footer-container-bottom-textBox h4 {
        font-family: "Bebas Neue", Bebas Neue;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: .5rem; }
      footer .footer-container-bottom-textBox p {
        font-family: "Sniglet", Sniglet;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFF4E5;
        margin-bottom: .5rem; }
      footer .footer-container-bottom-textBox a {
        font-family: "Sniglet", Sniglet;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-decoration-line: none;
        background: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border-bottom: 1px solid #F4720A; }
    @media only screen and (max-width: 37.5em) {
      footer .footer-container-bottom {
        height: 100%;
        min-height: 248px;
        flex-direction: column;
        padding-top: 3rem; } }
    footer .footer-container-bottom .ul-container {
      width: 100%;
      height: 100%;
      max-width: 145rem;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 39px;
      padding-left: 39px; }
      @media only screen and (max-width: 1050px) {
        footer .footer-container-bottom .ul-container {
          padding-right: 3%;
          padding-left: 3%; } }
      @media only screen and (max-width: 37.5em) {
        footer .footer-container-bottom .ul-container {
          padding-right: 0;
          padding-left: 0;
          flex-direction: column-reverse;
          justify-content: flex-end; } }
      footer .footer-container-bottom .ul-container ul {
        display: flex;
        color: aliceblue;
        align-items: center; }
        @media only screen and (max-width: 37.5em) {
          footer .footer-container-bottom .ul-container ul {
            flex-direction: column; } }
        footer .footer-container-bottom .ul-container ul li {
          font-family: "Sniglet", Sniglet;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFF4E5; }
          @media only screen and (max-width: 37.5em) {
            footer .footer-container-bottom .ul-container ul li:nth-child(1) {
              margin-bottom: 11.5px; } }
          footer .footer-container-bottom .ul-container ul li:nth-child(1)::after {
            position: relative; }
            @media only screen and (max-width: 37.5em) {
              footer .footer-container-bottom .ul-container ul li:nth-child(1)::after {
                content: '©';
                position: relative;
                left: 10px; } }
          @media only screen and (max-width: 37.5em) {
            footer .footer-container-bottom .ul-container ul li:nth-child(2) {
              display: none;
              margin-bottom: 10px; } }
          @media only screen and (max-width: 37.5em) {
            footer .footer-container-bottom .ul-container ul li:nth-child(4) {
              transform: rotate(90deg); } }
          footer .footer-container-bottom .ul-container ul li:not(:last-child) {
            margin-right: 1rem; }
            @media only screen and (max-width: 37.5em) {
              footer .footer-container-bottom .ul-container ul li:not(:last-child) {
                margin-right: 0 !important; } }
      footer .footer-container-bottom .ul-container .cookie-policy {
        font-family: "Sniglet", Sniglet;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFF4E5; }
        @media only screen and (max-width: 37.5em) {
          footer .footer-container-bottom .ul-container .cookie-policy {
            display: none; } }

.nav_bottom-container_items-social a:not(:last-child) {
  margin-right: 20px; }
  @media only screen and (max-width: 37.5em) {
    .nav_bottom-container_items-social a:not(:last-child) {
      margin-right: 0 !important; } }

main {
  position: relative; }

section {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-left: 5%;
  padding-right: 5%; }

.gallery-covers {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 254px 254px 254px 254px;
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 9rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery-covers {
      grid-template-columns: 90px 90px  90px;
      grid-gap: 2rem; } }
  .gallery-covers img {
    border-radius: 100%;
    cursor: pointer;
    width: 254px;
    height: 254px;
    justify-self: center;
    transition: all 200ms ease-in; }
    @media only screen and (max-width: 37.5em) {
      .gallery-covers img {
        width: 90px;
        height: 90px; } }

main {
  min-height: 100vh; }

.menu {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  padding-top: 3rem;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .menu {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .menu-container {
    width: 100%;
    max-width: 140rem;
    margin-inline: auto; }
  .menu picture {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center; }
    .menu picture:nth-child(1) {
      margin-bottom: 5rem; }
    .menu picture:nth-child(2) {
      margin-bottom: 9rem; }
    .menu picture img {
      width: 100%;
      max-width: 730px;
      height: 100%; }

main {
  min-height: 100%; }

.contact {
  margin-top: 5rem;
  max-width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      text-align: center;
      margin-top: 3rem; } }

.container-contact {
  height: 100%;
  min-height: 618px;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .container-contact {
      height: 0;
      min-height: 860px; } }

.contact-address-container {
  justify-content: unset !important; }
  @media only screen and (max-width: 37.5em) {
    .contact-address-container {
      flex-direction: row !important;
      max-width: 17rem;
      text-align: center;
      margin-inline: auto;
      font-size: 18px;
      line-height: 150%; } }
  .contact-address-container p {
    margin-right: 1.2rem; }
  .contact-address-container img {
    width: 2.7rem;
    height: 2.7rem; }

.contact-h2 {
  line-height: 33.18px !important;
  margin-top: 3rem !important;
  margin-bottom: 2.2rem !important; }
  @media only screen and (max-width: 37.5em) {
    .contact-h2 {
      line-height: 21px !important;
      margin-bottom: 2rem !important; } }

.h2-contact-sec-fontsize {
  font-size: 28px; }
  @media only screen and (max-width: 37.5em) {
    .h2-contact-sec-fontsize {
      font-size: 18px; } }

.container-contact-text {
  width: 40%;
  padding: 0;
  padding-left: 8rem;
  padding-top: 10.2rem; }
  @media only screen and (max-width: 37.5em) {
    .container-contact-text {
      width: auto;
      padding: 0;
      height: auto; } }

.contect-mail {
  margin-top: 2.2rem;
  font-size: 18px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #000000; }
  @media only screen and (max-width: 37.5em) {
    .contect-mail {
      margin-top: 2rem; } }

.contect-phone {
  margin-top: 1.5rem;
  font-size: 18px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #000000; }

.contect-btn-color {
  color: #000000 !important; }

.contact-social-main-container {
  margin-bottom: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .contact-social-main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem; } }

.contact-container-social {
  display: flex;
  align-items: center; }
  .contact-container-social:nth-child(1) {
    margin-bottom: 2.6rem; }
  .contact-container-social img:nth-child(1) {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem; }
  .contact-container-social img:nth-child(2) {
    width: 32.55px;
    height: 32.55px;
    margin-right: 1rem; }

.container-contact-photo {
  width: 60%; }
  .container-contact-photo img {
    object-position: -20%; }
  @media only screen and (max-width: 37.5em) {
    .container-contact-photo {
      width: auto;
      padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    .container-contact-photo {
      background-position-y: 29px; } }

.btn-big {
  padding: 10px 20px;
  width: 155px;
  height: 44px;
  background: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%);
  color: #FFEEEE;
  font-family: "Bebas Neue", Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.25); }

.btn-sm {
  padding: 10px 20px;
  width: 121px;
  height: 44px;
  background: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%);
  color: #FFEEEE;
  font-family: "Bebas Neue", Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.25); }

.btn-sm-secoundary {
  padding: 10px 20px;
  width: 126px;
  height: 44px;
  background: radial-gradient(66.67% 318.28% at 18.75% 190.82%, #00E4CC 0%, #0083E1 100%);
  font-family: "Bebas Neue", Bebas Neue;
  color: #FFEEEE;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 5px 10px rgba(0, 133, 255, 0.25); }

.btn-empty {
  font-family: "Bebas Neue", Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: none;
  text-align: center;
  text-decoration-line: underline;
  color: #666666; }

.btn-lang {
  font-family: "Sniglet", Sniglet;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center; }

.btn-lang-active {
  color: #999999; }

.active-page {
  background: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }

.logo-container {
  width: auto;
  height: 63px; }
  .logo-container img {
    width: 142.85px;
    height: 60px; }

.nav-logo {
  width: 142.85px;
  height: 60px; }

.nav {
  width: 100%;
  max-width: 140rem;
  height: auto;
  margin-inline: auto; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none;
      height: 100%; } }
  .nav_container {
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav_container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
        justify-content: unset;
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .nav_container img {
        margin-bottom: 2rem; } }
    .nav_container_items {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .nav_container_items {
          flex-direction: column; } }
      .nav_container_items ul {
        display: flex; }
        @media only screen and (max-width: 37.5em) {
          .nav_container_items ul {
            flex-direction: column;
            align-items: center; } }
        .nav_container_items ul li {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px; }
          .nav_container_items ul li:not(:last-child) {
            margin-right: 4rem; }
            @media only screen and (max-width: 37.5em) {
              .nav_container_items ul li:not(:last-child) {
                margin-right: 0;
                margin-bottom: 2rem; } }
          .nav_container_items ul li:nth-child(4) {
            margin-right: 3rem; }
            @media only screen and (max-width: 37.5em) {
              .nav_container_items ul li:nth-child(4) {
                margin-right: 0;
                margin-bottom: 3rem; } }
      .nav_container_items-social {
        min-width: 120px;
        height: 31px; }
        @media only screen and (max-width: 37.5em) {
          .nav_container_items-social {
            min-width: auto;
            height: auto; } }
        .nav_container_items-social a {
          cursor: pointer; }
          .nav_container_items-social a img:nth-child(1) {
            width: 3rem;
            height: 3rem; }
          .nav_container_items-social a img:nth-child(2) {
            width: 32.55px;
            height: 32.55px; }
          .nav_container_items-social a:not(:last-child) {
            margin-right: 18.71px; }
            @media only screen and (max-width: 37.5em) {
              .nav_container_items-social a:not(:last-child) {
                margin-right: 28.7px; } }
          .nav_container_items-social a:nth-child(2) {
            margin-right: 28.74px; }
            @media only screen and (max-width: 37.5em) {
              .nav_container_items-social a:nth-child(2) {
                margin-right: 0; } }
    .nav_container-languageSelector {
      margin-right: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .nav_container-languageSelector {
          margin-inline: auto;
          margin-bottom: 2rem; } }

.nav-sticky-prefix {
  position: relative; }

.nav-mobile {
  display: none; }
  .nav-mobile-container {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    right: 0; }
    .nav-mobile-container-header {
      width: 100%;
      height: 8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2.1rem;
      padding-right: 2rem;
      padding-left: 2rem; }
  .nav-mobile .mobile-nav_container {
    justify-content: center; }
  .nav-mobile .mobile-nav_container_items {
    height: 80%; }
  @media only screen and (max-width: 37.5em) {
    .nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; } }

.mobile-nav-ul li {
  margin-bottom: 3rem !important; }
  .mobile-nav-ul li:nth-child(4) {
    margin-bottom: 4rem !important; }

.mobile-nav-social-container {
  margin-bottom: 2rem; }

.mobile-nav-languageSelector {
  margin-bottom: 4rem; }

.sticky {
  position: fixed;
  max-width: 100% !important;
  top: 0;
  left: 0;
  height: 7.4rem !important;
  height: 10rem;
  background: #fff;
  z-index: 1000001101010000;
  box-shadow: 0px 15px 25px -19px rgba(150, 150, 150, 0.24);
  border-bottom: 1px solid #000000;
  padding-left: 5%;
  padding-right: 5%; }

.nav-sticky-prefix {
  height: 10rem;
  width: 100%; }

.nav-c-10 {
  height: 7.4rem;
  max-width: 1422px;
  margin-inline: auto; }

.display-none {
  display: none; }

.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10101010101010;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px); }
  .gallery-container {
    position: relative;
    max-width: 920px;
    width: 100%;
    height: 100%;
    max-height: 613px;
    padding-top: 4.4rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-width: 3px 3px 7px 7px;
    border-style: solid;
    border-color: #000000; }
    @media only screen and (max-width: 37.5em) {
      .gallery-container {
        max-width: 100%;
        max-height: 100%;
        justify-content: space-evenly; } }
    .gallery-container-close {
      position: absolute;
      top: 0rem;
      right: 0rem;
      padding: 1rem;
      cursor: pointer; }
      .gallery-container-close img {
        width: 17px;
        height: 17px; }
    .gallery-container-photos {
      width: 100%;
      height: 100%;
      max-width: 763px;
      max-height: 494px;
      background-color: white;
      background-position: center;
      background-image: url(/assets/gallery/photos/1.png);
      background-size: cover;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 37.5em) {
        .gallery-container-photos {
          background-size: contain; } }
    .gallery-container-photo-handeling {
      width: 250px;
      margin-top: 3rem;
      display: flex;
      justify-content: center; }
      .gallery-container-photo-handeling .left-padding {
        padding: 1rem;
        padding-left: 2rem;
        cursor: pointer; }
        .gallery-container-photo-handeling .left-padding img {
          width: 16px;
          height: 16px;
          user-select: none; }
      .gallery-container-photo-handeling .right-padding {
        padding: 1rem;
        padding-right: 2rem;
        cursor: pointer; }
        .gallery-container-photo-handeling .right-padding img {
          width: 16px;
          height: 16px;
          user-select: none; }
      .gallery-container-photo-handeling img {
        cursor: pointer; }

.gallery-dinamic-info {
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }
  .gallery-dinamic-info span {
    font-family: "Sniglet", Sniglet;
    font-size: 20px; }
    .gallery-dinamic-info span:not(:last-child) {
      margin-right: .3rem; }
