main {
    position: relative;
}

section {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.gallery-covers {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 254px 254px 254px 254px;
    grid-template-rows: auto;
    grid-gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 9rem;

    @include respond (phone) {
        grid-template-columns: 90px 90px  90px;
        grid-gap: 2rem;
    }

    img {
        border-radius: 100%;
        cursor: pointer;
        width: 254px;
        height:254px;
        @include respond (phone) {
            width: 90px;
            height: 90px;
        }
        justify-self: center;

        transition: all 200ms ease-in;

    }
}
