main {
    min-height: 100vh;
}

.menu {
    @include sectionPadding;
    min-height: 100vh;
    padding-top: 3rem;
    width: 100%;
    height: 100%;

    &-container {
    @include containerPosition;
    
    }

    picture {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        &:nth-child(1) {
            margin-bottom: 5rem;
        }

        @include respond (phone) {
            margin-top: 3rem;

            
        }

    
        &:nth-child(2) {
            margin-bottom: 9rem;
        }


       img {
        width: 100%;
        max-width: 730px;
        height: 100%

       }
    }
}