// HEADER 

.svg-container-crab {
    width: 100%;
    height: 100%;
    
    img {
        width: auto;
        height: auto;
    }

    position: absolute;
    right: 0rem;
    z-index: -1;
  }

// OUR STORY

.svg-container-fish {
    width: 100%;
    height: 100%;
    
    img {
        width: auto;
        height: auto;
    }

    position: absolute;
    left: -10rem;
    bottom: 0;
    z-index: -1;
}