.btn-big {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    width: 155px;
    height: 44px;
    background:$color-grad-btn-main;
    color: $color-text-btn;

    font-family: $font-btn;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.25);
}

.btn-sm {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    width: 121px;
    height: 44px;
    background:$color-grad-btn-main;
    color: $color-text-btn;

    font-family: $font-btn;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.25);
}

.btn-sm-secoundary {
    padding: 10px 20px;
    gap: 10px;
    width: 126px;
    height: 44px;
    background:$color-grad-btn-sec;

    font-family: $font-btn;
    color: $color-text-btn;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    text-shadow: 0px 5px 10px rgba(0, 133, 255, 0.25);

}

.btn-empty {
    font-family: $font-btn;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background: none;
    text-align: center;
    text-decoration-line: underline;

    color: $color-text-primary;
}

.btn-lang {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.btn-lang-active {
    color: #999999;
}
