footer {
    background-color: $color-footer;

    .footer-container {
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;

        @include respond (phone) {
            height: 100%;
            min-height: 408px;
            padding-top: 5rem;
        }
    }

    .footer-container-bottom {
        min-height: 66px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;

        @include respond (phone) {
            height: 100%;
            min-height: 248px;
            flex-direction: column;
            padding-top: 3rem;

           }

        .ul-container {
            width: 100%;
            height: 100%;
            max-width: 140rem;
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 39px;
            padding-left: 39px;


            @media only screen and (max-width: 1050px) {
                padding-right: 3%;
                padding-left: 3%;
              }

              @include respond (phone) {
                padding-right: 0;
                padding-left: 0;
                flex-direction: column-reverse;
                justify-content: flex-end;
               }
           
            ul {
                display: flex;
                color: aliceblue;
                align-items: center;

                @include respond (phone) {
    
                    flex-direction: column;
    
                   }
               

                li {

                    &:nth-child(1) {
                        margin-right: 2rem !important;
                        font-family: $font-btn;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 26px;
                        text-align: center;
                        color: #FFFFFF;
                        
                        @include respond (phone) {
                            margin-right: 0 !important;
                        }

                    }

                    &:nth-child(2)::after {
                      
                        position: relative;
                        @include respond (phone) {   
                            content: '©';
                            position: relative;
                            left: 10px;
                        }
                    }

                    &:nth-child(3) {
                      
                        @include respond (phone) {
                            display: none;
                        }
                    }

                    &:nth-child(5) {
                      
                        @include respond (phone) {
                            transform: rotate(90deg);
                        }
                    }
                        font-family: $font-primary;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: $color-sec-background;

                    &:not(:last-child) {
                        margin-right: 1rem;
                        @include respond (phone) {
                            margin-right: 0 !important;
                            margin-bottom: 11.5px;
                        }
                    }    

                }
               
            }
            .cookie-policy{
                font-family: $font-primary;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: $color-sec-background;    
                
                @include respond (phone) {
                    margin-bottom: 4rem;
                }
            }
        }
    }
            
}



// Social prefix

.nav_bottom-container_items-social {
    a {

        &:not(:last-child) {
            margin-right: 20px;
            @include respond (phone) {
                margin-right: 0 !important;
            }
        }

    }
}